@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    background-color:beige ;
    place-items: center;
   
    
}

.wrapper{
    text-align: center;
    background: #fff;
    
    width: 300px;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    
    
}
.wrapper .title{
    background-color: black;
    color: beige;
    height: 50px;
   padding-top: 28px;
   border-radius: 10px 10px 0 0;
   font-weight: 600;
   font-size: larger;

}

.row{
    margin-top:25px;
    width: 100%;
}

.pass{
    margin: 25px;
    
}

.login{
    margin: 25px;
    font-weight: 400;
    font-size: 20px;
    width:75%;
    background-color: grey;
    color: beige;
    
}
.login:hover{
    background-color: black;

}

div{
    margin-bottom: 25px;
    text-decoration: none;
}

a{
    text-decoration: none;
}